.clientele h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding:200px;
    color: aliceblue;
    background-image: url('../../assets/images/gen/sean-pollock-PhYq704ffdA-unsplash.jpg');
}

.clientele-content {
    padding: 120px;
}
.header {
    display: flex;
    align-items: center;
}

.header p{
    font-size: 24px;
    margin-left: 70px;
    
}
.clientele-content .box{
    width: 50px;
    height: 100px;
    background-color: rgba(67, 151, 179, 0.495)
}
.client-grid {
  display: grid;
  gap: 2rem;
}

.slide {
  text-align: center;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.logos img {
  height: 50px; 
  object-fit: contain;
}

.fade {
  opacity: 0;
  transform: translateY(20px);
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
  transition: 0.6s ease;
}
