.clientele h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding:200px;
    color: aliceblue;
    background-image: url('../../assets/images/gen/sean-pollock-PhYq704ffdA-unsplash.jpg');
}

.clientele-content {
    padding: 120px;
}
.header {
    display: flex;
    align-items: center;
}

.header p{
    font-size: 24px;
    margin-left: 70px;
    
}
.clientele-content .box{
    width: 50px;
    height: 100px;
    background-color: rgba(67, 151, 179, 0.495)
}