.Hero {
    display: flex;
    padding: 120px 90px;
}


.Hero h1 {
    font-size: 60px;
    line-height: 1.2;
    height: 200px; 
    
}

.Hero div {
   display: flex;
   flex-wrap: wrap;
}

.Hero p{
    color: rgb(54, 55, 55);
    font-size: 18px;
    height: 140px;
    line-height: 30px;
    margin: auto;
    margin-right: 90px;
}

.Hero img{
    width: 575px;
}

.Hero button {
    background-color: rgb(190, 2, 2);
    color: aliceblue;
    font-size: 16px;
    border-radius: 12px;
    padding: 12px;
    width: 124px;
    height: 50px;
    border-style: none;
}

.Hero button:hover{
  background-color: rgb(212, 1, 1);
  cursor: pointer;
  transform: scale(0.95);
}

.fade {
  opacity: 0;
  transform: translateY(20px);
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
  transition: 0.6s ease;
}

@media screen and (max-width: 900px) {
    .Hero {
        flex-direction: column;
        padding: 50px 20px;
        gap: 40px;
    }

    .Hero h1 {
        font-size: 40px;
        height: 180px;
    }

    .Hero img {
        width: 100%;
        max-width: 100%;
    }
}

