.products h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 200px;
    color: aliceblue;
    background-image: url('../../assets/images/gen/patrick-tomasso-nWvWBV0sv04-unsplash.jpg');
}
