.products h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 200px;
    color: rgb(255, 255, 255);
    background-image: url('../../assets/images/gen/laptop.jpg');
}
