@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f5f5f5;
  color: #333;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

a{
  font-weight: 400;
  padding: 20px;
  font-size: 18px;
}

a,
a:visited,
a:hover,
a:active {
  color: #333;
}

.navbar a,
.footer a,
.navbar a:hover,
.footer a:hover,
.navbar a:visited,
.footer a:visited {
  text-decoration: none !important;
}

a:hover{
  color: #a99c9c;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  color: rgb(66, 66, 66);
  padding: 70px;
}

.footer nav {
  display: flex;
  gap: 40px;
  color: rgb(0, 0, 0);
  text-align: left;
}

.footer h3{
  margin-bottom: 20px;
  font-size: 18px;
  font-weight:500;
  
}

.footer nav div{
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.footer nav a{
  padding:5px 0;
}

.navbar img{
  width: 150px;
}

.footer img{
  width: 150px;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
