.aboutus h1{
    display: flex;
    justify-content: center;
    padding: 200px;
    color: aliceblue;
    background-image: url('../../assets/images/gen/data.png');
    font-size: 50px;
}

.about-content {
    padding: 120px;
}
.header {
    display: flex;
    align-items: center;
}

.header p{
    font-size: 24px;
    margin-left: 70px;
    
}
.about-content .box{
    width: 50px;
    height: 100px;
    background-color: rgba(15, 15, 15, 0.733)
}